/*****This is the index.css code for the index.html page for my Portfolio Website*****/



body {
  /*background-image: url(images/cyborg-girl.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin: 0 auto;
  width: 960px;
}





#empty {
	position: relative;
	width: 1000px;
	top: 70px;
	left: -290px;	
}





p {
	color: #000000;
}




h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 5em;
	color: #000000;
	font-weight: bold;
}




h6 {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 2em;
	color: #000000;
	font-weight: bold;
}




#name {
	position: relative;
	top: -50px;
	left: 20px;
	padding-left: 13px;
	padding-right: 13px;
	margin-left: 0px;
	margin-right: 13px;
    width: 160px;
    height: -60px;
}







#fixed {	
  position: relative;
  width: 350px;
  height: 120px;
  border-radius: 15px;
  left: 0px;  
  top: 30px;
}

   
	




#name a:link {
	color: #000000;
	text-decoration: none;
}




#name a:visited {
	color: #000000;
}




#name a:hover {
	color: #185D8E;
}




#createdname a:link {
	color: #000000;
	text-decoration: none;
}


#createdname a:visited {
	color: #000000;
}



#createdname a:hover {
	color: #185D8E;
}


/********LISTS OL/UL*********************/



#todo {
	color: #000000;
}


/*****************************************/









/*********************************************/


#backtotop a:link {
	color: #185D8E;
	text-decoration: none;
}



#backtotop a:visited {
	color: #185D8E;
}



#backtotop a:hover {
	color: #878f9a;
}










/*******Horizontal Navbar***********/


#menu {
	width: 700px;
	height: 35px;
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: #000000;
	position: absolute;
	left: 300px;
	top: -30px;	
	font-weight: bold;
}

  




#menu ul {
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}




#menu li {
	display: inline;
	padding: 20px;
}




#menu a:link {
	color: #000000;
	text-decoration: none;
}




#menu a:visited {
	color: #185D8E;
}




#menu a:hover {
	color: #185D8E;
}




li.menubuttons {
	width: 200px;
	/*background-color: #565252;*/
    border-radius: 15px;
    margin: 3px;
}






#Git {
	position: relative;
	width: 100px;
	top: -90px;
	left: 500px;
	margin-left: 10px;
}



/************************************/




#createdname {
	position: relative;
	top: -920px;
	left: 13px;
	padding: 0px;
	margin: 0px;
	width: 280px;
	height: -160px;
}






/*******MAIN PARAGRAPH CONTENT******/


#MainParagraph {
	position: relative;
	width: 960px;
	height: 700px;
	font-size: 1.4em;
	font-family: Verdana, Geneva, Arial, Sans-serif;
	text-align: left;
	padding: 20px;
	left: 0px;
	margin: 20px;
	top: 640px;
	color: #000000;
    



.noDecoration, a:link, a:visited {
    text-decoration: none;
}


/**************************************/










































